!!! 5
%html
  %head
    %title Les temperatures
  %body
    %form{:action => "/lumiere", :method => "post"}
      %input{:type => "submit", :name => "action[eteint]", :value => "Eteindre"}
      %input{:type => "submit", :name => "action[allumer]", :value => "Allumer"}
    %span= @lumiere
    %table
      %thead
        %tr
          %td Piece
          %td Temperature
      %tbody
        - @temps.each do |temp|
          %tr
            %td= temp[0]
            %td= temp[1]
