!!! 5
%html
  %head
    %title Les temperatures
  %body
    %table
      %thead
        %tr
          %td Piece
          %td Temperature
      %tbody
        - @temps.each do |temp|
          %tr
            %td= temp[0]
            %td= temp[1]
